name: Robot Framework Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  robot-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do reposit칩rio
        uses: actions/checkout@v3

      - name: Criar diret칩rios necess치rios
        run: |
          mkdir -p reports
          echo "CHROME_TMP_DIR=$(mktemp -d)" >> $GITHUB_ENV

      - name: Executar testes com Robot Framework
        env:
          CHROME_TMP_DIR: ${{ env.CHROME_TMP_DIR }}
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/opt/robotframework/tests \
            -v ${{ github.workspace }}/reports:/opt/robotframework/reports \
            -v ${{ env.CHROME_TMP_DIR }}:/tmp/chrome-profile \
            -e ROBOT_OPTIONS="--variable BROWSER:chrome --variable BROWSER_OPTIONS:--no-sandbox,--disable-dev-shm-usage,--headless,--disable-gpu,--user-data-dir=/tmp/chrome-profile" \
            -e XDG_CACHE_HOME=/tmp \
            ppodgorsek/robot-framework \
            robot /opt/robotframework/tests/robot_tests

      - name: Upload dos relat칩rios de teste
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: robot-reports
          path: reports
