name: Robot Framework Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  robot-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do reposit칩rio
        uses: actions/checkout@v3

      - name: Criar diret칩rios necess치rios
        run: mkdir -p reports

      - name: Executar testes com Robot Framework
        run: |
          TIMESTAMP=$(date +%s)
          docker run --rm \
            -v ${{ github.workspace }}:/opt/robotframework/tests \
            -v ${{ github.workspace }}/reports:/opt/robotframework/reports \
            -e ROBOT_OPTIONS="--variable BROWSER:chrome \
                              --variable BROWSER_OPTIONS:--no-sandbox,--disable-dev-shm-usage,--headless,--disable-gpu,--user-data-dir=/tmp/chrome-profile-$TIMESTAMP" \
            ppodgorsek/robot-framework \
            robot /opt/robotframework/tests/robot_tests

      - name: Upload dos relat칩rios de teste
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: robot-reports
          path: reports
